<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Chatbot Inteligente</title>
</head>
<body>
    <!-- CONTENIDO HOME -->
     <main class="home">
        <h1>Página principal</h1>
        <p>Contenido del sitio</p>
     </main>
     <!-- BOTÓN FLOTANTE -->
      <button id="chat-toggle" class="chat-toggle">🗨️</button>
      <!-- CHAT FLOTANTE -->
       <div id="chat-wrapper" class="chat-wrapper">
        <div class="chat-header">
            <span>🤖 chatbot</span>
            <button id="chat-close">✖️</button>
        </div>

       </div>


    <div id="chatbot">
        <div id="messages"></div>
        <form id="chatform">
            <input type="text" id="userInput" placeholder="Escribe tu mensaje..." autocomplete="off">
        </form>
    </div>

    <script src="{{url_for('static',filename='js/app.js')}}"></script>
</body>
</html>