{% extends "base.html" %}

{% block title %}Aprendizajes{% endblock %}

{% block content %}
<main class="home">
  <h1>Módulos de Aprendizaje</h1>
  <br>
  <h3>➕➖✖➗ Matemáticas Básicas </h3>
  <p><b>Aprende de forma autónoma y didáctica, mirando, escribiendo, precticando y jugando sobre:</b></p>
  <ul>
    <li>números</li>
    <li>operaciones aritméticas</li>
    <li>problemas matemáticos sencillos de forma fácil</li>
  </ul>  

  <br><br><br>
  <h3>🆗 Inglés básico</h3>
  <p><b>Aprende de forma autónoma y didáctica, mirando, escribiendo, precticando y jugando sobre:</b></p>
  <ul>
    <li>Vocabulario Básico</li>
    <li>Gramática básica e inicial</li>
    <li>Identidad y Familia</li>
    <li>Entorno Cercano</li>
    <li>Naturaleza y Animales</li>
    <li>Acciones y Vida Diaria</li>
  </ul>

  <br><br><br>
  <h3>✍ Español </h3>
  <p>Aprende Lenguaje, Lengua y Habla de forma autónoma y didáctica, mirando, escribiendo, precticando y jugando sobre
    la metodología o enfoque HELE:</p>
  <ul>
    <li><b>H - Hablar:</b>
      Expresar ideas, sentimientos y conocimientos oralmente.
    </li>
    <li><b>E - Escuchar:</b>
      Comprender y procesar la información recibida oralmente.
    </li>
    <li><b>L - Leer:</b>
      Comprender e interpretar textos escritos.
    </li>
    <li><b>E - Escribir:</b>
      Producir textos y utilizar el código escrito para comunicarse.
    </li>
  </ul>

  <br><br><br>
  <h3>🏐🏈🏀🏑🏓🤼🤸‍♂️🤺🏅 Educación física y deporte </h3>
  <p>Aprende sobre los deportes y ejercicios físicos de forma autónoma y didáctica, mirando, escribiendo, precticando y
    jugando sobre la metodología o enfoque HELE:</p>
  <ul>
    <li>
      <b>Fútbol</b>
    </li>
    <li>
      <b>Basquetball</b>
    </li>
    <li>
      <b>Voleyball</b>
    </li>
    <li>
      <b>Ciclismo</b>
    </li>
    <li>
      <b>Atletísmo, caminata o senderísmo</b>
    </li>
  </ul>

  <br><br><br>
  <h3> 🌄🌎👨‍👩‍👧‍👦 Ética y valores </h3>
  <p>Aprende sobre la ética y los valores de forma autónoma y didáctica, mirando, escribiendo, precticando y jugando</p>

  <br><br><br>
  <h3> 💻🖥⌨🖱 Programación Básica </h3>
  <p>Aprende sobre los diferentes lenguajes de programación, lógica de progración básica, operadores lógicos y
    aritméticos de forma autónoma y didáctica, mirando, escribiendo, precticando y jugando</p>
  <ul>
    <li>
      <b>Lenguajes de programación:</b>
    </li>
    <li>
      <b>Lógica de programación</b>
    </li>
    <li><b>Operadores lógicos:</b>
      AND (Y lógico - && o and): Retorna true solo si ambas expresiones son verdaderas.OR (O lógico - || o or): Retorna
      true si al menos una de las expresiones es verdadera.NOT (Negación - ! o not): Invierte el valor lógico; si es
      verdadero, lo convierte en falso y viceversa.
    </li>
    <li><b>Operadores aritméticos:</b>
      Los operadores aritméticos son símbolos fundamentales en programación y matemáticas que permiten realizar cálculos
      básicos (suma +, resta -, multiplicación *, división /) sobre datos numéricos o variables. Generalmente incluyen
      operadores adicionales como el módulo % (resto de la división) y la potenciación, siguiendo reglas de precedencia
      (paréntesis, potencias, multiplicación/división, suma/resta)
    </li>
  </ul>
</main>
{% endblock %}