{% extends "base.html" %}

{% block title %}Beneficios{% endblock %}

{% block content %}
<main class="home">
  <h1>Beneficios</h1>

  <h3>🎯 Mejora la motivación y el compromiso</h3>
  <p><b>Aprender es divertido:</b></p>
  <ul>
    <li>
      ✅ Los juegos despiertan el interés de los niños, manteniéndolos concentrados durante más tiempo.
    </li>
  </ul>
  <p><b>Superar desafíos:</b></p>
  <ul>
    <li>
      ✅ Los juegos con recompensas y niveles fomentan el esfuerzo y la perseverancia.
    </li>
  </ul>
  </div>

  <h3>🧠 Desarrollo de habilidades cognitivas</h3>
  <p><b>Memoria y concentración:</b></p>
  <ul>
    <li>
      ✅ Actividades como juegos de memoria mejoran la capacidad de atención y retención.
    </li>
  </ul>
  <p><b>Aprendizaje de conceptos básicos: </b></p>
  <ul>
    <li>
      ✅ Los juegos educativos ayudan a comprender colores, números, letras y formas.
    </li>
  </ul>
  </div>

  <h3>🎭🤸‍♂️ Fomento de habilidades sociales y emocionales</h3>
  <p><b>Gestión de emociones:</b></p>
  <ul>
    <li>
      ✅ Los niños aprenden a manejar la frustración, la paciencia y la empatía.
    </li>
  </ul>
  <p><b>Construcción de confianza:</b></p>
  <ul>
    <li>
      ✅ Ganar o completar un juego refuerza la autoestima de los pequeños.
    </li>
  </ul>
</main>
{% endblock %}