{% extends "base.html" %}

{% block title %}Inicio - EcoEnergía{% endblock %}

{% block content %}

<!-- HERO -->
<section class="hero">
  <div class="hero-text">
    <h1> 👨‍🏫👩‍🏫🎓 EducatIA KIDS 👨‍🏫👩‍🏫🎓 </h1>
    <p>Desarrollamos y aplicamos el aprendizaje que tú niño/a necesita.</p>
    <a href="/aprendizaje" class="btn">Explora tú aprendizaje</a>
  </div>

  <div class="hero-img">
    <img src="{{ url_for('static', filename='img/energia.jpeg') }}">
  </div>
</section>

<!-- SERVICIOS -->
<section class="cards">
  <h2>🎓 Tipos de Aprendizaje</h2>

  <div class="card-container">

    <div class="card">
      <img src="{{ url_for('static', filename='img/matematicas.jpeg') }}">
      <h3>Matemáticas Básicas</h3>
      <p> Aprende sobre números, operaciones aritméticas y problemas matemáticos sencillos de forma fácil, autónoma y didáctica, mirando, escribiendo, precticando y jugando.</p>
    </div>

    <div class="card">
      <img src="{{ url_for('static', filename='img/ingles.jpeg') }}">
      <h3>Inglés básico</h3>
      <p>Aprende de forma autónoma y didáctica, mirando, escribiendo, precticando y jugando sobre:</p>
      <ul>
        <li><b>Vocabulario Básico:</b>
          Los colores (colors), números (numbers), días de la semana (days of the week), meses del año (months of the year) y formas geométricas.
        </li>
        <li><b>Gramática básica e inicial:</b>  
          Verbo to be (ser/estar), have got (tener), pronombres personales (I, you, he, she), adjetivos posesivos y preguntas Wh- (Who, what, where).
        </li>
        <li><b>Identidad y Familia</b>
          Presentación personal ("My name is..."),la familia (mother, father, siblings), 
          y descripciones físicas o de personalidad (young, old, happy)
        </li>
        <li><b>Entorno Cercano</b>
          Partes de la casa (kitchen, bedroom), objetos escolares (school supplies) y lugares de la ciudad.
        </li>
        <li><b>Naturaleza y Animales:</b>
          Animales de la granja (farm animals) y salvajes (wild animals), estaciones del año (seasons) y el clima (weather).
        </li>
        <li><b>Acciones y Vida Diaria:</b>
          Rutinas diarias, profesiones, la hora, deportes y gustos (food, toys).
        </li>
      </ul>  
    </div>

    <div class="card">
      <img src="{{ url_for('static', filename='img/español.jpeg') }}">
      <h3>Español</h3>
      <p>Aprende Lenguaje, Lengua y Habla de forma autónoma y didáctica, mirando, escribiendo, precticando y jugando sobre la metodología o enfoque HELE:</p>
      <ul>
        <li><b>H - Hablar:</b>
          Expresar ideas, sentimientos y conocimientos oralmente.
        </li>
        <li><b>E - Escuchar:</b>
          Comprender y procesar la información recibida oralmente.
        </li>
        <li><b>L - Leer:</b>
          Comprender e interpretar textos escritos.
        </li>
        <li><b>E - Escribir:</b>
          Producir textos y utilizar el código escrito para comunicarse.
        </li>
      </ul>
    </div>

    <div class="card">
      <img src="{{ url_for('static', filename='img/educacionfisica.jpeg') }}">
      <h3>Educación física y deporte</h3>
      <p>Aprende sobre los deportes y ejercicios físicos de forma autónoma y didáctica, mirando, escribiendo, precticando y jugando sobre la metodología o enfoque HELE:</p>
      <ul>
        <li><b>Fútbol:</b>
          .
        </li>
        <li><b>Basquetball:</b>
          .
        </li>
        <li><b>Voleyball:</b>
          .
        </li>
        <li><b>Ciclismo:</b>
          .
        </li>
        <li><b>Caminata o senderísmo:</b>
      </ul>
    </div>

    <div class="card">
      <img src="{{ url_for('static', filename='img/etica.jpeg') }}">
      <h3>Ética y valores</h3>
      <p>Aprende sobre laa ética y los valores de forma autónoma y didáctica, mirando, escribiendo, precticando y jugando sobre la metodología o enfoque HELE:</p>
    </div>

    <div class="card">
      <img src="{{ url_for('static', filename='img/programacion.jpeg') }}">
      <h3>Programación Básica</h3>
      <p>Aprende sobre los diferentes lenguajes de programación, lógica de progración básica, operadores lógicos y aritméticos de forma autónoma y didáctica, mirando, escribiendo, precticando y jugando sobre la metodología o enfoque HELE:</p>
      <ul>
        <li><b>Lenguajes de programación:</b>
          .
        </li>
        <li><b>Lógica de programación:</b>
          .
        </li>
        <li><b>Operadores lógicos:</b>
          .
        </li>
        <li><b>Operadores aritméticos:</b>
          AND (Y lógico - && o and): Retorna true solo si ambas expresiones son verdaderas.OR (O lógico - || o or): Retorna true si al menos una de las expresiones es verdadera.NOT (Negación - ! o not): Invierte el valor lógico; si es verdadero, lo convierte en falso y viceversa.
        </li>
      </ul>
    </div>

  </div>
</section>

<!-- BENEFICIOS -->
<section class="benefits">
  <h2>🚀 Beneficios</h2>

  <div class="card-container">
    <div class="card">
      <h3>🌍 Ecológico</h3>
      <p>Reduce la contaminación y protege el planeta.</p>
    </div>

    <div class="card">
      <h3>💰 Económico</h3>
      <p>Ahorro a largo plazo en consumo energético.</p>
    </div>

    <div class="card">
      <h3>♻️ Sostenible</h3>
      <p>Recursos naturales inagotables.</p>
    </div>
  </div>
</section>

{% endblock %}
 